In [38]:
#Import Dependencies#
import os
import pandas as pd
from glob import glob
import requests
import pandas as pd
import geojson

In [39]:
#Using glob module to store csv rows#
filenames = glob('new_york/*.csv')
dataframe_list = [pd.read_csv(f) for f in filenames]
dataframe_list.append(pd.read_csv("new_york_current.csv", low_memory=False))

In [40]:
#Concatenate all stored dataframes created above#
all_data_df = pd.concat(dataframe_list, sort=False)

In [41]:
#Display Data#
all_data_df.head()

,room_id,host_id,room_type,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,...,latitude,longitude,last_modified,survey_id,country,city,bathrooms,name,property_type,location
0,105.0,500.0,Private room,Manhattan,Hell's Kitchen,39.0,5.0,7.0,1.0,174.0,...,40.762099,-73.996022,2014-12-03 12:58:59.578,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2515.0,2758.0,Private room,Manhattan,Harlem,106.0,4.5,2.0,1.0,69.0,...,40.799205,-73.953676,2014-12-04 02:53:51.833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2684.0,2965.0,Private room,Manhattan,Upper West Side,3.0,5.0,2.0,1.0,152.0,...,40.792353,-73.967807,2014-12-03 19:36:20.383,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2993.0,3352.0,Entire home/apt,Manhattan,Lower East Side,2.0,4.5,2.0,1.0,175.0,...,40.723593,-73.991188,2014-12-04 00:08:21.539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3330.0,4177.0,Private room,Brooklyn,Williamsburg,11.0,5.0,2.0,1.0,152.0,...,40.708558,-73.942362,2014-12-03 04:18:01.520,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#List Column Names#
list(all_data_df.columns.values)

['room_id',
 'host_id',
 'room_type',
 'borough',
 'neighborhood',
 'reviews',
 'overall_satisfaction',
 'accommodates',
 'bedrooms',
 'price',
 'minstay',
 'latitude',
 'longitude',
 'last_modified',
 'survey_id',
 'country',
 'city',
 'bathrooms',
 'name',
 'property_type',
 'location']

In [43]:
#Keeping only the relevant columns#
all_data_df = all_data_df.loc[:,["last_modified", "price", "neighborhood", "borough", "latitude", "longitude", "overall_satisfaction", "room_type"]]
all_data_df.head()

,last_modified,price,neighborhood,borough,latitude,longitude,overall_satisfaction,room_type
0,2014-12-03 12:58:59.578,174.0,Hell's Kitchen,Manhattan,40.762099,-73.996022,5.0,Private room
1,2014-12-04 02:53:51.833,69.0,Harlem,Manhattan,40.799205,-73.953676,4.5,Private room
2,2014-12-03 19:36:20.383,152.0,Upper West Side,Manhattan,40.792353,-73.967807,5.0,Private room
3,2014-12-04 00:08:21.539,175.0,Lower East Side,Manhattan,40.723593,-73.991188,4.5,Entire home/apt
4,2014-12-03 04:18:01.520,152.0,Williamsburg,Brooklyn,40.708558,-73.942362,5.0,Private room

In [44]:
#Cleaning Up Column Names#
all_data_df = all_data_df.rename(index=str, columns={"last_modified": "Date", "overall_satisfaction": "Review", "room_type": "Room Type"})
all_data_df = all_data_df.rename(str.title, axis='columns')
all_data_df

,Date,Price,Neighborhood,Borough,Latitude,Longitude,Review,Room Type
0,2014-12-03 12:58:59.578,174.0,Hell's Kitchen,Manhattan,40.762099,-73.996022,5.0,Private room
1,2014-12-04 02:53:51.833,69.0,Harlem,Manhattan,40.799205,-73.953676,4.5,Private room
2,2014-12-03 19:36:20.383,152.0,Upper West Side,Manhattan,40.792353,-73.967807,5.0,Private room
3,2014-12-04 00:08:21.539,175.0,Lower East Side,Manhattan,40.723593,-73.991188,4.5,Entire home/apt
4,2014-12-03 04:18:01.520,152.0,Williamsburg,Brooklyn,40.708558,-73.942362,5.0,Private room
5,2014-12-03 12:47:52.616,104.0,Bedford-Stuyvesant,Brooklyn,40.678300,-73.944627,4.5,Entire home/apt
6,2014-12-04 05:49:27.529,117.0,Clinton Hill,Brooklyn,40.685138,-73.959757,4.5,Private room
7,2014-12-04 03:42:36.846,211.0,Crown Heights,Brooklyn,40.674376,-73.933990,5.0,Entire home/apt
8,2014-12-03 04:22:35.240,65.0,Harlem,Manhattan,40.824861,-73.949982,4.5,Private room
9,2014-12-03 19:41:24.512,234.0,Hell's Kitchen,Manhattan,40.762600,-73.993045,4.5,Entire home/apt
10,2014-12-04 00:24:16.235,205.0,East Village,Manhattan,40.726353,-73.989371,5.0,Entire home/apt
11,2014-12-04 03:14:18.668,269.0,Harlem,Manhattan,40.813613,-73.945896,5.0,Entire home/apt
12,2014-12-04 04:52:34.736,235.0,Murray Hill,Manhattan,40.747714,-73.975149,4.5,Entire home/apt
13,2014-12-04 05:29:46.424,293.0,Bedford-Stuyvesant,Brooklyn,40.692990,-73.957232,5.0,Entire home/apt
14,2014-12-04 05:45:13.787,202.0,Lower East Side,Manhattan,40.713942,-73.981839,4.5,Entire home/apt
15,2014-12-03 05:18:44.438,104.0,Harlem,Manhattan,40.818028,-73.947449,5.0,Private room
16,2014-12-03 05:23:00.675,291.0,Sunset Park,Brooklyn,40.661197,-73.994227,5.0,Entire home/apt
17,2014-12-03 08:21:15.757,151.0,Murray Hill,Manhattan,40.744958,-73.974201,4.5,Entire home/apt
18,2014-12-03 08:50:57.857,85.0,Midtown,Manhattan,40.764681,-73.983154,4.5,Private room
19,2014-12-03 12:14:23.707,222.0,Flatiron District,Manhattan,40.743572,-73.989987,4.0,Entire home/apt
20,2014-12-03 12:43:18.032,105.0,East Village,Manhattan,40.727637,-73.979488,5.0,Entire home/apt
21,2014-12-03 19:05:36.717,170.0,Chinatown,Manhattan,40.713444,-73.990375,4.5,Entire home/apt
22,2014-12-03 20:46:17.215,158.0,Williamsburg,Brooklyn,40.710302,-73.964961,5.0,Entire home/apt
23,2014-12-03 21:52:53.323,117.0,Lower East Side,Manhattan,40.717605,-73.986643,4.5,Entire home/apt
24,2014-12-03 23:58:19.028,158.0,Upper West Side,Manhattan,40.803158,-73.965446,4.5,Entire home/apt
25,2014-12-03 09:28:06.749,158.0,Hell's Kitchen,Manhattan,40.760760,-73.988667,5.0,Private room
26,2014-12-03 18:40:00.800,170.0,South Slope,Brooklyn,40.669349,-73.987054,4.5,Entire home/apt
27,2014-12-04 00:02:38.167,228.0,West Village,Manhattan,40.736491,-74.010575,5.0,Entire home/apt
28,2014-12-03 23:39:22.577,108.0,South Slope,Brooklyn,40.668290,-73.987791,4.5,Private room
29,2014-12-04 00:52:13.550,228.0,Hell's Kitchen,Manhattan,40.765304,-73.985214,4.5,Private room
...,...,...,...,...,...,...,...,...
1048545,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048546,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048547,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048548,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048549,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048550,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048551,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048552,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048553,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048554,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048555,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048556,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048557,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048558,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048559,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048560,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048561,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048562,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048563,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048564,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048565,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048566,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048567,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048568,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048569,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048570,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,2018-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#Lookup all null value types and drop extraneous rows#
null_columns=all_data_df.columns[all_data_df.isnull().any()]
print(all_data_df[null_columns].isnull().sum())
num_rows= 1186590
num_rows_null= 999519
index_where_null = num_rows - num_rows_null
all_data_df = all_data_df.drop(all_data_df.index[index_where_null:(index_where_null+num_rows_null)])
all_data_df
null_columns=all_data_df.columns[all_data_df.isnull().any()]
all_data_df[null_columns].isnull().sum()

Price            999519
Neighborhood     999519
Borough          999519
Latitude         999519
Longitude        999519
Review          1031751
Room Type        999527
dtype: int64

Review       32232
Room Type        8
dtype: int64

In [46]:
#Getting Date column to just show year#
rows = [];
for row in all_data_df.loc[:,"Date"]:
    row = row[0:4]
    rows.append(row)
all_data_df["Date"] = rows
len(all_data_df[all_data_df["Date"] == '2018'])

C:\Users\romys\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

49056

In [47]:
#write all data to csv#
all_data_df.to_csv("output_csv/all_historical_data.csv")

In [48]:
#Create average price dataframe#
pd.to_numeric(all_data_df["Price"])
price_summary_df = pd.DataFrame(all_data_df.groupby("Date")["Price"].mean())
price_summary_df = price_summary_df.rename(index=str,columns={"Price":"Average Price"})
price_summary_df

      Average Price
Date
2014     211.037473
2015     157.174674
2016     147.088838
2017     136.103528
2018     152.330031

In [49]:
#write price summary data to csv#
price_summary_df.to_csv("output_csv/historical_price_data.csv")

In [50]:
#Create borough average price summary dataframe#
neighborhood_summary_df = pd.DataFrame(all_data_df.groupby(["Borough", "Neighborhood","Date"])["Price"].mean())
neighborhood_summary_df.reset_index(inplace=True)
neighborhood_summary_df
neighborhood_summary_df['Neighborhood'].str.contains('Allerton').any()
choro_df = pd.DataFrame(neighborhood_summary_df.groupby("Neighborhood")["Price"].mean()).reset_index()
choro_df
data_df = neighborhood_summary_df[neighborhood_summary_df.loc[:,"Neighborhood"]=="Allerton"][["Date", "Price"]]
for index, row in data_df.iterrows():
    print(row['Date'], row['Price'])

2014 72.35714285714286
2015 63.13333333333333
2016 62.76923076923077
2017 67.0
2018 89.28947368421052

In [51]:
#write summary data to csv#
neighborhood_summary_df.to_csv("output_csv/neighborhood_data.csv")

In [52]:
borough_summary_df = pd.DataFrame(neighborhood_summary_df.groupby(["Borough", "Date"])["Price"].mean())
borough_summary_df

                         Price
Borough       Date
Bronx         2014   95.059080
              2015   78.424907
              2016   82.224539
              2017   97.548146
              2018   87.109599
Brooklyn      2014  152.155500
              2015  122.756668
              2016  125.952936
              2017  125.762991
              2018  131.196663
Manhattan     2014  266.421077
              2015  196.447977
              2016  197.434403
              2017  179.722155
              2018  208.564560
Queens        2014  117.212531
              2015  101.994372
              2016  112.868443
              2017  102.533153
              2018  114.033138
Staten Island 2014  370.243754
              2015  184.963548
              2016  140.436670
              2017  128.118728
              2018  131.188337

In [53]:
#write sumary data to csv#
borough_summary_df.to_csv("output_csv/borough_historical_data.csv")

In [54]:
#Create room_type average price summary dataframe#
neighborhood_roomtype_summary_df = pd.DataFrame(all_data_df.groupby(["Borough","Room Type","Date"])["Price"].mean())
neighborhood_roomtype_summary_df

                                         Price
Borough       Room Type       Date
Bronx         Entire home/apt 2014  135.907895
                              2015  133.181034
                              2016  127.082873
                              2017  127.729469
                              2018  117.576433
              Private room    2014   75.643836
                              2015   65.940075
                              2016   67.445813
                              2017   57.911523
                              2018   67.960139
              Shared room     2014   68.500000
                              2015   52.372093
                              2016   56.187500
                              2017   56.291667
                              2018   80.297297
Brooklyn      Entire home/apt 2014  214.703974
                              2015  178.317598
                              2016  176.627831
                              2017  164.364030
                              2018  175.497537
              Private room    2014  100.429926
                              2015   78.097930
                              2016   77.949925
                              2017   70.060560
                              2018   74.969941
              Shared room     2014   71.927336
                              2015   56.386503
                              2016   56.749478
                              2017   52.786932
                              2018   53.670157
...                                        ...
Queens        Entire home/apt 2014  168.819672
                              2015  141.207305
                              2016  141.156274
                              2017  136.959615
                              2018  145.179173
              Private room    2014   88.129630
                              2015   70.038592
                              2016   69.225914
                              2017   65.303634
                              2018   76.156270
              Shared room     2014  106.682353
                              2015   78.544715
                              2016   52.961905
                              2017   49.528090
                              2018   65.804878
Staten Island Entire home/apt 2014  374.061538
                              2015  266.647887
                              2016  175.768293
                              2017  190.183333
                              2018  174.538462
              Private room    2014   72.886792
                              2015   69.513043
                              2016   69.547619
                              2017   65.132075
                              2018   59.779070
              Shared room     2014   41.000000
                              2015   45.000000
                              2016   31.500000
                              2017   14.000000
                              2018   52.600000

[75 rows x 1 columns]

In [55]:
#write room type data to csv#
neighborhood_roomtype_summary_df.to_csv("output_csv/roomtype_historical_data.csv")

In [56]:
import json

with open('neighborhoods.geojson') as f:
    data = json.load(f)

count_add = 0
count_del = 0
indices = [];
count = 0

print(len(data['features']))

for feature in data['features']:
    change_property = feature['properties']
    neigh_name = feature['properties']['neighbourhood']
    data_df = neighborhood_summary_df[neighborhood_summary_df.loc[:,"Neighborhood"]== neigh_name][["Date", "Price"]]

    if neighborhood_summary_df["Neighborhood"].str.contains(neigh_name).any() and (len(data_df) == 5):
        count_add = count_add + 1
        
        for index, row in data_df.iterrows():
            change_property[row['Date']] = round(row['Price'],2)
        
    else:
        count_del = count_del + 1
        indices.append(count)
        #data["features"].remove(feature)
    count = count + 1

print(len(data['features']))  
print(count_add)
print(count_del)
print(count)
print(indices)
print(len(indices))

count = 0
for ind in indices:
    data["features"].remove(data["features"][ind-count])
    count = count + 1

print(len(data['features'])) 
data["features"][0]["properties"]

233
233
185
48
233
[5, 9, 10, 11, 14, 19, 20, 25, 28, 31, 39, 42, 47, 49, 66, 67, 72, 87, 100, 104, 106, 108, 111, 112, 115, 120, 121, 124, 125, 129, 135, 136, 147, 153, 157, 159, 161, 170, 173, 179, 181, 187, 191, 192, 194, 224, 228, 232]
48
185

{'neighbourhood': 'Bayswater',
 'neighbourhood_group': 'Queens',
 '2014': 103.33,
 '2015': 66.86,
 '2016': 80.62,
 '2017': 70.67,
 '2018': 74.11}

In [57]:
with open('neighborhoods_price.geojson', 'w') as outfile:
     geojson.dump(data, outfile)

In [58]:
len(choro_df.loc[:,"Neighborhood"])

246

In [123]:
name_list = []
length = len(response["features"])
for i in range(0,length):
    change = response["features"][i]["properties"]
    name_list.append(change["NTAName"])
    if choro_df["Neighborhood"].str.contains(change["NTAName"]).any() & (not choro_df[choro_df.loc[:,"Neighborhood"]==change["NTAName"]]["Price"].empty) :
        change["Average Price"] = choro_df[choro_df.loc[:,"Neighborhood"]==change["NTAName"]]["Price"].values[0]
print(sorted(name_list))

['Airport', 'Allerton-Pelham Gardens', "Annadale-Huguenot-Prince's Bay-Eltingville", 'Arden Heights', 'Astoria', 'Auburndale', 'Baisley Park', 'Bath Beach', 'Battery Park City-Lower Manhattan', 'Bay Ridge', 'Bayside-Bayside Hills', 'Bedford', 'Bedford Park-Fordham North', 'Bellerose', 'Belmont', 'Bensonhurst East', 'Bensonhurst West', 'Borough Park', 'Breezy Point-Belle Harbor-Rockaway Park-Broad Channel', 'Briarwood-Jamaica Hills', 'Brighton Beach', 'Bronxdale', 'Brooklyn Heights-Cobble Hill', 'Brownsville', 'Bushwick North', 'Bushwick South', 'Cambria Heights', 'Canarsie', 'Carroll Gardens-Columbia Street-Red Hook', 'Central Harlem North-Polo Grounds', 'Central Harlem South', 'Charleston-Richmond Valley-Tottenville', 'Chinatown', 'Claremont-Bathgate', 'Clinton', 'Clinton Hill', 'Co-op City', 'College Point', 'Corona', 'Crotona Park East', 'Crown Heights North', 'Crown Heights South', 'Cypress Hills-City Line', 'DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill', 'Douglas Manor-Douglaston-Little Neck', 'Dyker Heights', 'East Concourse-Concourse Village', 'East Elmhurst', 'East Flatbush-Farragut', 'East Flushing', 'East Harlem North', 'East Harlem South', 'East New York', 'East New York (Pennsylvania Ave)', 'East Tremont', 'East Village', 'East Williamsburg', 'Eastchester-Edenwald-Baychester', 'Elmhurst', 'Elmhurst-Maspeth', 'Erasmus', 'Far Rockaway-Bayswater', 'Flatbush', 'Flatlands', 'Flushing', 'Fordham South', 'Forest Hills', 'Fort Greene', 'Fresh Meadows-Utopia', 'Ft. Totten-Bay Terrace-Clearview', 'Georgetown-Marine Park-Bergen Beach-Mill Basin', 'Glen Oaks-Floral Park-New Hyde Park', 'Glendale', 'Gramercy', 'Grasmere-Arrochar-Ft. Wadsworth', 'Gravesend', 'Great Kills', 'Greenpoint', 'Grymes Hill-Clifton-Fox Hills', 'Hamilton Heights', 'Hammels-Arverne-Edgemere', 'Highbridge', 'Hollis', 'Homecrest', 'Hudson Yards-Chelsea-Flatiron-Union Square', 'Hunters Point-Sunnyside-West Maspeth', 'Hunts Point', 'Jackson Heights', 'Jamaica', 'Jamaica Estates-Holliswood', 'Kensington-Ocean Parkway', 'Kew Gardens', 'Kew Gardens Hills', 'Kingsbridge Heights', 'Laurelton', 'Lenox Hill-Roosevelt Island', 'Lincoln Square', 'Lindenwood-Howard Beach', 'Longwood', 'Lower East Side', 'Madison', 'Manhattanville', 'Marble Hill-Inwood', "Mariner's Harbor-Arlington-Port Ivory-Graniteville", 'Maspeth', 'Melrose South-Mott Haven North', 'Middle Village', 'Midtown-Midtown South', 'Midwood', 'Morningside Heights', 'Morrisania-Melrose', 'Mott Haven-Port Morris', 'Mount Hope', 'Murray Hill', 'Murray Hill-Kips Bay', 'New Brighton-Silver Lake', 'New Dorp-Midland Beach', 'New Springville-Bloomfield-Travis', 'North Corona', 'North Riverdale-Fieldston-Riverdale', 'North Side-South Side', 'Norwood', 'Oakland Gardens', 'Oakwood-Oakwood Beach', 'Ocean Hill', 'Ocean Parkway South', 'Old Astoria', 'Old Town-Dongan Hills-South Beach', 'Ozone Park', 'Park Slope-Gowanus', 'Parkchester', 'Pelham Bay-Country Club-City Island', 'Pelham Parkway', 'Pomonok-Flushing Heights-Hillcrest', 'Port Richmond', 'Prospect Heights', 'Prospect Lefferts Gardens-Wingate', 'Queens Village', 'Queensboro Hill', 'Queensbridge-Ravenswood-Long Island City', 'Rego Park', 'Richmond Hill', 'Ridgewood', 'Rikers Island', 'Rosedale', 'Rossville-Woodrow', 'Rugby-Remsen Village', 'Schuylerville-Throgs Neck-Edgewater Park', 'Seagate-Coney Island', 'Sheepshead Bay-Gerritsen Beach-Manhattan Beach', 'SoHo-TriBeCa-Civic Center-Little Italy', 'Soundview-Bruckner', 'Soundview-Castle Hill-Clason Point-Harding Park', 'South Jamaica', 'South Ozone Park', 'Springfield Gardens North', 'Springfield Gardens South-Brookville', 'Spuyten Duyvil-Kingsbridge', 'St. Albans', 'Stapleton-Rosebank', 'Starrett City', 'Steinway', 'Stuyvesant Heights', 'Stuyvesant Town-Cooper Village', 'Sunset Park East', 'Sunset Park West', 'Todt Hill-Emerson Hill-Heartland Village-Lighthouse Hill', 'Turtle Bay-East Midtown', 'University Heights-Morris Heights', 'Upper East Side-Carnegie Hill', 'Upper West Side', 'Van Cortlandt Village', 'Van Nest-Morris Park-Westchester Square', 'Washington Heights North', 'Washington Heights South', 'West Brighton', 'West Concourse', 'West Farms-Bronx River', 'West New Brighton-New Brighton-St. George', 'West Village', 'Westchester-Unionport', 'Westerleigh', 'Whitestone', 'Williamsbridge-Olinville', 'Williamsburg', 'Windsor Terrace', 'Woodhaven', 'Woodlawn-Wakefield', 'Woodside', 'Yorkville', 'park-cemetery-etc-Bronx', 'park-cemetery-etc-Brooklyn', 'park-cemetery-etc-Manhattan', 'park-cemetery-etc-Queens', 'park-cemetery-etc-Staten Island']

C:\Users\romys\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [118]:
print(length)
len(index_del)

195

126